<table class="table table-borderless table-striped" *ngIf="currentWeather">
  <thead *ngIf="currentWeather && currentWeather.length">
    <tr style="position: -webkit-sticky; position: sticky; top: 0">
      <th>Temp. (K)</th>
      <th>Pressure</th>
      <th>Humidity</th>
      <th>Wind Speed</th>
      <th>Clouds</th>
      <th *ngIf="currentWeather.length > 1">Country</th>
      <th *ngIf="currentWeather.length > 1">State</th>
      <th *ngIf="currentWeather.length > 1">Created At</th>
      <th *ngIf="currentWeather.length > 1">Latitude</th>
      <th *ngIf="currentWeather.length > 1">Longitude</th>
    </tr>
  </thead>
  <ng-container *ngFor="let item of currentWeather; let i = index">
    <tbody>
      <tr>
        <td>{{ item?.temp }}</td>
        <td>{{ item?.pressure }}</td>
        <td>{{ item?.humidity }}</td>
        <td>{{ item?.windSpeed }}</td>
        <td>{{ item?.cloudsAll }}</td>
        <td>{{ item?.country }}</td>
        <td>{{ item?.state }}</td>
        <td>{{ item?.createdAt | date }}</td>
        <td>{{ item?.lat }}</td>
        <td>{{ item?.lon }}</td>
      </tr>
    </tbody>
  </ng-container>
</table>
