<div class="button container-sm" *ngIf="record">
  <div class="btn-group d-flex justify-content-center" role="group">
    <button
      type="button"
      class="btn btn-info"
      [ngClass]="{ active: activeTab === 'currentWeather' }"
      (click)="activeTab = 'currentWeather'"
    >
      Current Weather
    </button>
    <button
      type="button"
      class="btn btn-info"
      [ngClass]="{ active: activeTab === 'fiveDaysWeather' }"
      (click)="activeTab = 'fiveDaysWeather'"
    >
      5 Days Forecast
    </button>
  </div>
</div>

<div *ngIf="activeTab === 'currentWeather'">
  <div *ngFor="let record of currentWeather; let i = index">
    <div *ngIf="record">
      <current-weather-table
        [currentWeather]="record"
        [counter]="i"
      ></current-weather-table>
    </div>
  </div>
</div>
<div *ngIf="activeTab === 'fiveDaysWeather'">
  <div *ngFor="let record of record; let q = index">
    <div *ngIf="record && record.fiveDaysWeather">
      <five-days-weather-table
        [country]="record.country"
        [createdAt]="record.createdAt"
        [lat]="record.lat"
        [lon]="record.lon"
        [state]="record.state"
        [fiveDaysWeatherData]="record.fiveDaysWeather"
        [counter]="q"
      ></five-days-weather-table>
    </div>
  </div>
</div>
