<div>
    <form *ngIf="form" [formGroup]="form">
      <table class="table table-borderless">
        <tr>
          <th>City Name:</th>
          <th>Your e-mail:</th>
          <th>City Code:</th>
          <th>State Code:</th>
        </tr>
        <tr>
          <td>
            <input type="text" formControlName="city" class="btn" required />
          </td>
          <td>
            <input type="email" formControlName="email" class="btn" required />
          </td>
          <td>
            <input type="date" formControlName="startedDate" class="btn" />
          </td>
          <td>
            <input type="date" formControlName="finalDate" class="btn" />
          </td>
        </tr>
        <tr>
          <td>
            <button
              type="submit"
              class="btn"
              (click)="getRecord()"
              id="getrecord"
            >
              Get Data
            </button>
          </td>
        </tr>
      </table>
    </form>
  </div>
  