<div>
  <nav
    class="navbar sticky-top bg-primary navbar-expand-lg navbar-light border-bottom"
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="randomweather" id="logo" alt=""
        ><img src="assets/logo.png" width="70%" height="70%"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon">
          <svg
            width="2em"
            height="2em"
            viewBox="0 0 16 16"
            class="bi bi-list svg-nav"
            fill="#002347"
            xmlns="http://www.w3.org/2000/svg"
          ></svg>
        </span>
      </button>

      <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
        <ul class="nav navbar-nav menu_nav ml-auto">
          <li class="nav-item p-2">
            <a
              class="nav-link d-flex justify-content-center"
              routerLink="currentweather"
              routerLinkActive="active"
            >
              <button class="btn btn-outline-light">Current Weather</button></a
            >
          </li>
          <li class="nav-item p-2">
            <a
              class="nav-link d-flex justify-content-center"
              routerLink="fivedaysweather"
              routerLinkActive="active"
              ><button class="btn btn-outline-light">5-Day Forecast</button></a
            >
          </li>
          <li class="nav-item p-2">
            <a
              class="nav-link d-flex justify-content-center"
              routerLink="statistics"
               routerLinkActive="active"
              ><button class="btn btn-outline-light">Statistics</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
